* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

h1 {
    font-size: 3.5em;
    color: #222222;
}

h2 {
    font-size: 2.635em;
}

h3 {
    font-size: 1.75em;
}

h1, h2, h3 {
    margin: 0;
}

body {
    margin: 0;
}

.container {
    padding: 10px;
}

.block {
    margin-bottom: 10px;
    padding: 10px;
    height: 150px;
}

#block_1 {
    background-color: #55B3B9;
    color: #222222;
}

#block_2 {
    background-color: #C56060;
    margin-left: auto;
    color: rgba(34, 34, 34, 0.69);
}

#block_3 {
    background-color: #8FC091;
    font-size: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: rgba(34, 34, 34, 0.62);

}

#block_4 {
    background-color: #8F86AF;
    color: rgba(46, 46, 46, 0.42);
}

.block:nth-child(even) {
    width: 50%;
}

.block:nth-child(odd) {
    width: 75%;
}

h1 {
    font-family: "Roboto Light";
}

h2 {
    font-family: "Roboto Light";
}

h2.text_block_2 {
    font-family: "Roboto Light";
}
h3 {

}

h3.text_block_3 {
    text-decoration-line: underline;
}

h3.text_block_4 {
text-decoration-line: line-through;
}

h2.text_block_4 {
    text-decoration-line: line-through;
}

h3 {
    font-family: my_sail, "arial";
}